<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Always critical rate but it may reduce your attack to 10.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>smoncheats</string>
			<key>key</key>
			<string>kCri</string>
			<key>label</key>
			<string>Always critical rate (monsters and enemies)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>15000 accuracy rate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>smoncheats</string>
			<key>key</key>
			<string>kAcc</string>
			<key>label</key>
			<string>Always accuracy rate (monsters and enemies)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>1600 critical damage. This will give you 5.000.000 cri damage and give enemies 10 cri damage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>smoncheats</string>
			<key>key</key>
			<string>kCriDam</string>
			<key>label</key>
			<string>Always critical damage (monsters and enemies)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>After you apply settings, please respring your device.</string>    
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Hack made by Andnix</string>
		</dict>
	</array>
	<key>title</key>
	<string>Summoners War v1.6.0 Cheats</string>
</dict>
</plist>
